* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #202020;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.weather-container {
  width: 100%;
  max-height: 100vh;
  border-radius: 15px;
  text-align: center;
}

.input-container {
  height: 23vh;
  width: 50%;
  margin: 1.5rem auto;
  margin-bottom: 0;
}

.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 74vh;
}

.current-weather {
  height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2,
label,
p {
  color: #fff;
  margin: 0.8rem 0;
}

input {
  width: calc(100% - 2rem);
  padding: 0.8rem;
  font-size: 18px;
  border-radius: 20px;
  border: blue 2px solid;
  margin-top: 20px;
}

button {
  width: 20%;
  background-color: black;
  font-size: 18px;
  color: white;
  padding: 10px;
  border: blue 2px solid;
  margin: 1rem 0;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

button:hover {
  background: blue;
}

.temp-container {
  font-size: 32px;
  margin-top: -2rem;
}

.weather-info {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: -0.5rem;
}

#weather-icon {
  width: 14vw;
  height: 1/1;
  margin: 0 auto;
  display: none;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 70%;
  overflow-x: auto;
  white-space: nowrap;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.hourly-item img {
  width: 5vw;
  height: 1/1;
}

#hourly-heading {
  color: #fff;
  margin-top: 10px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .weather-container {
    width: auto;
    height: 20vh;
  }

  button {
    min-width: 10rem;
    padding: 10px 2rem;
  }

  .weather-display {
    margin-top: 2.5rem;
  }

  .forecast {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .hourly-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }

  .hourly-item img {
    width: 30px;
  }
}
